<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/user" class="btn btn-link">پنل کاربری</a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit" class="btn btn-link">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="/products/add_category" class="btn btn-link">اضافه کردن دسته بندی محصولات</a>
        </li>
        <li class="list-group-item">
            <a href="/user/add_product" class="btn btn-link">وارد کردن محصولات</a>
        </li>
        <li class="list-group-item">
            <a href="/upload" class="btn btn-link">آپلود ویدیو</a>
        </li>
        <li class="list-group-item">
            <a href="/blog/add_blog_category" class="btn btn-link">اضافه کردن دسته بندی خبر</a>
        </li>
        <li class="list-group-item">
            <a href="/blog/add_blog" class="btn btn-link">اضافه کردن خبر</a>
        </li>
        <li class="list-group-item">
            <a href="/education/add_edu" class="btn btn-link">اضافه کردن آموزش</a>
        </li>
        <li class="list-group-item">
            <a href="/log-out" class="btn btn-link">خروج</a>
        </li>
    </ul>
</div>
