{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<html class="no-js" dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فراموشی رمز عبور</title>
    <link rel="stylesheet" href="{% static 'Site/css/client.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/forget-password.css' %}">



</head>

<body>





    <!-- main content page -->
    <!-- breadcrumb -->

    <!-- /breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="forgetPass col-md-12">

                <div class="forgetPass-content">

                    <br>
                    <img src="{% static 'Site/images/Forgot password-rafiki.png' %}" alt="">

                    <form method="POST" class="form-signin">{% csrf_token %}
                        <div class="form-group">
                            <input name="email" class="form-control" placeholder="آدرس ایمیل" type="email" id="id_email" required="true">
                        </div>
                        <br>
                        <button class="button-st green" type="submit">بازیابی رمز عبور</button>
                    </form>


                </div>

            </div>
        </div>
    </div>








    <!-- /main content page -->




</body>

</html>

{% endblock %}