
{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<html class="no-js" dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> پاسخ های من </title>
    <link rel="stylesheet" href="{% static '/Site/css/acount.css' %}">


</head>

<body>

    <div class="container">
        <div class="row">
            <!-- breadcrumb -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="index.html"><span> منتور </span></a></li>
                    <li><a href="#" class="current"><span> داشبورد </span></a></li>
                </ul>
            </div>
            <!-- /breadcrumb -->
            <!-- fixed dashboard -->
            <div class="dashboard col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="avatar">
                    <img src="{{ user.profile.image.url }}" alt="">
                    <p class="user-name">{{ user.first_name }} {{ user.last_name }}</p>
                </div>

                <ul>
                    <li><a href="/user"> <i class="fas fa-house-user"></i> داشبورد </a></li>
                    <li><a href="/user/edit"> <i class="fas fa-user-cog"></i> ویرایش حساب کاربری</a></li>
                    <li><a href="/user/change_password"> <i class="fas fa-key"></i> تغییر رمز عبور</a></li>
                    <li><a href="/user/products"> <i class="fas fa-cart-arrow-down"></i> دوره های من</a></li>
                    <li><a href="/user/wallet"> <i class="fas fa-wallet"></i> کیف پول</a></li>
                    <li><a href="/user/factor"> <i class="fas fa-receipt"></i> فاکتور ها</a></li>
                    <li><a href="/user/support"> <i class="far fa-comment-dots"></i> تیکت ها </a></li>
                    <li><a href="/user/my-questions"> <i class="far fa-question-circle"></i> سوالات من</a></li>
                    <li><a href="/user/consultation_request"> <i class="fas fa-user-clock"></i> درخواست های مشاوره</a></li>
                    <li><a href="/logout"> <i class="fas fa-sign-out-alt"></i> خروج از حساب</a></li>
                </ul>
            </div>
            <!-- profile -->
            <div class="profile col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>پاسخ های من</h2>

                <table class="table table-hover table-bordered">
                    <thead style="background-color: rgb(241, 241, 241);">
                        <tr>
                            <th>عنوان</th>
                            <th>وضعیت </th>
                            <th>تاریخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>مشکل در dom</td>
                            <td class="answered"> تایید شده</td>
                            <td>1400/03/01</td>
                        </tr>
                        <tr>
                            <td>مشکل در dom</td>
                            <td class="pending"> در انتظار تایید</td>
                            <td>1400/03/01</td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>

    </div>
           









        </div>

    </div>


</body>

</html>

{% endblock %}