{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
<html class="no-js" dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <link rel="stylesheet" href="{% static 'Site/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/acount.css' %}">



</head>

<body>




    <!-- main content page -->

    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb">
            <ul>
                <li><a href="/"><span> منتور </span></a></li>
                <li><a href="#" class="current"><span> سبد خرید </span></a></li>
            </ul>
        </div>
        <!-- /breadcrumb -->

        <section class="alert-shop col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <p>لطفا در خرید خود دقت کنید ، هزینه پرداختی به هیچ عنوان قابل استرداد نمی باشد</p>
        </section>

        {% if order != None and details|length > 0 %}

        <section class="cart col-lg-12 col-md-12 col-sm-12 col-xm-12">

            <div class="shop col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- Other boxes -->
                {% for detail in details %}
                <div class="shop-list" id="1stShop">
                    <h2>{{detail.product.title}}</h2>
                    <span><del>{{ detail.product.price }}</del></span><br>
                    <p>مدرس : {{ detail.product.teacher }}</p>
                    <span style="padding-top: 30px;">#</span>
                    <div class="close-shop">
                        <a onclick="closeShop()" href="/remove-order-detail/{{ detail.id }}"> <i class="fas fa-times"></i> </a>
                    </div>

                </div>
                {% endfor %}
                <!-- This is the last box to be closed -->
            </div>

            <div class="shop-info col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!-- discount box -->
                <div class="discount-code col-lg-12">
                    <input type="text" placeholder="کد تخفیف">
                    <button class="button-st purple"> ثبت </button>
                </div>

                <!-- payment method -->
                <div class="payment-method col-lg-12">
                    <form>
                        <div>
                            <input type="radio" id="customRadio" name="example1" value="customEx">
                            <label for="customRadio" style="margin-bottom: 20px;">درگاه
                                پرداخت آنلاین</label>
                        </div>
                        <div>
                            <input type="radio" id="customRadio1" name="example1" value="customEx">
                            <label for="customRadio1">کیف پول (موجودی {{user.profile.wallet.money}} تومان)</label>
                        </div>
                    </form>
                </div>

                <!-- payment info -->
                <div class="payment-info col-lg-12">
                    <p>موجوی کیف پول شما : </p>
                    <span>{{user.profile.wallet.money}} تومان</span><br>
                    <p>مبلغ کل : </p>
                    <span>{{ total }}</span><br>
                    <p>تخفیف : </p>
                    <span>0 تومان</span>
                    <hr><br>
                    <p>مبلغ قابل پرداخت : </p>
                    <span class="final-price"> {{ total }} </span>
                    <button class="button-st purple" href="/request">پرداخت نهایی</button>
                </div>

            </div>


        </section>

        {% else %}
        <section class="empty-cart col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="{% static 'Site/images/cart.png' %}" alt="">
            <p>سبد خرید شما خالیست</p>




        </section>
        {% endif %}

    </div>


    <!-- The Modal -->
    <div class="modal" id="del-modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <i class="fas fa-check-circle"></i>
                    <p>با موفقیت حذف شد</p>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideModal()">OK</button>
            </div>
        </div>
    </div>

    <!-- /main content page -->



</body>

</html>

{% endblock %}