{% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آموزشگاه آنلاین منتور</title>
    <link href="{% static 'Site/images/logo.png' %}" rel="icon">
    <link href="{% static 'Site/css/Bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'site/css/publice.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'Site/OwlCarousel2-2.3.4/scss/owl.carousel.scss' %}">
    <link rel="stylesheet" href="{% static 'Site/OwlCarousel2-2.3.4/scss/owl.theme.default.scss' %}">
    <script src="{% static 'Site/fontawesome-free-5.15.3-web/css/all.css' %}"></script>