{% load static %}

<div class="fixed-menu">
        <div class="inner">
            <a href="javascript:void(0)" class="close-menu"><i class="zmdi zmdi-close"></i></a>
            <div class="logo">
                <a href="index.html"><img src="Site/images/logo.png"></a>
            </div>
            <form method="get" action="#">
                <input type="text" name="Search" class="autocomplete" placeholder=" جستجو کنید ...">
                <button><i class="zmdi zmdi-search wow animated infinite pulse"></i></button>
            </form>
            <nav>
                <div class="heading"> آموزش های منتور </div>
                <ul>
                    <li>
                        <a href=""><i class="zmdi zmdi-smartphone-android"></i> برنامه نویسی موبایل </a>

                        <ul>
                            <li><a href="#"> زامارین ( Xamarin ) </a></li>
                            <li><a href="#"> Kotlin </a></li>
                            <li><a href="#"> Ionic </a></li>
                            <li><a href="#"> Android </a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-laptop"></i> برنامه نویسی وب </a>

                        <ul>
                            <li><a href="#"> ASP.NET WebForms </a></li>
                            <li><a href="#"> ASP.NET MVC </a></li>
                            <li><a href="#"> PHP </a></li>
                            <li><a href="#"> Asp.Net Core </a></li>
                        </ul>

                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-language-html5"></i> طراحی سایت </a>

                        <ul>
                            <li><a href="#"> Angular </a></li>
                            <li><a href="#"> BootStrap </a></li>
                            <li><a href="#"> طراحی سایت </a></li>
                            <li><a href="#"> React </a></li>
                            <li><a href="#"> Jquery </a></li>
                            <li><a href="#"> JavaScript </a></li>
                            <li><a href="#"> VueJs </a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-desktop-windows"></i> تحت ویندوز </a>

                        <ul>
                            <li><a href="#"> CSharp </a></li>
                            <li><a href="#"> Unity </a></li>
                            <li><a href="#"> NodeJs </a></li>
                            <li><a href="#"> Python </a></li>
                            <li><a href="#"> Java </a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-trending-up"></i> سئو </a>


                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-devices"></i> سیستم عامل </a>

                        <ul>
                            <li><a href="#"> مدیریت پروژه </a></li>
                            <li><a href="#"> Linux </a></li>
                            <li><a href="#"> اینترنت </a></li>
                            <li><a href="#"> Docker </a></li>
                            <li><a href="#"> ساخت ستاپ </a></li>
                            <li><a href="#"> برنامه های کاربردی </a></li>
                            <li><a href="#"> Excel </a></li>

                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-shield-security"></i> امنیت </a>


                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-brush"></i> گرافیک </a>

                        <ul>
                            <li><a href="#"> Photoshop </a></li>
                            <li><a href="#"> گرافیک </a></li>
                            <li><a href="#"> Premiere </a></li>
                            <li><a href="#"> موشن گرافیک </a></li>
                        </ul>

                    </li>

                </ul>

                <div class="heading"> منوی دسترسی </div>
                <ul>
                    <li><a href="#"> همکاری با منتور </a></li>
                    <li><a href="#"> آخرین دوره ها </a></li>
                    <li><a href="#"> معرفی مدرسین </a></li>
                    <li><a href="#"> بلاگ </a></li>
                    <li><a href="#"> درخواست آموزش </a></li>
                    <li><a href="#"> پرسش و پاسخ </a></li>
                    <li><a href="#"> درخواست مشاوره </a></li>
                    <li><a href="contact-us.html"> تماس با ما </a></li>
                    <li><a href="about-us.html"> درباره ما </a></li>
                </ul>

            </nav>
        </div>
    </div>
