    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="aboutUs col-lg-6">
                    <h2>درباره منتور</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                </div>
                <div class="contactUs col-lg-6">
                    <h2>ارتباط با ما</h2>
                    <p>شما میتوانید با استفاده از یکی از راه‌های زیر با ما ارتباط برقرار کنید</p>
                    <a href="#"><i class="zmdi zmdi-github " id="github"></i></a>
                    <a href="#"><i class="zmdi zmdi-instagram " id="instagram"></i></a>
                    <a href="#"><i class="zmdi zmdi-facebook " id="facebook"></i></a>
                    <a href="#"><i class="zmdi zmdi-google" id="gmail"></i></a>
                    <a href="#"><i class="fab fa-telegram" id="telegram"></i></a>
                </div>

            </div>
        </div>
        <!-- /footer -->
        <!-- copyright -->
        <div class="copyright">
            <div class="container">

                <p>کليه حقوق محصولات و محتوای اين سایت متعلق به <a href="#" style="color: #fcc208;">منتور</a> می باشد و
                    هر گونه کپی برداری از محتوا و محصولات سایت غیر مجاز و بدون رضایت ماست</p>
            </div>
        </div>
    </footer>
