{% load static %}

<div id="newsletter">
        <div class="newsletter-layer">
            <div class="container">
                <div class="newsletter-form animated zoomIn">
                    <form id="newsletterForm" action="#" method="post">
                        <div class="inner">
                            <div class="input-layer">
                                <i class="zmdi zmdi-smartphone-android"></i>
                                <input type="text" placeholder="شماره موبایل  " id="Mobile" name="Mobile" value="">
                            </div>
                            <div class="input-layer">
                                <i class="zmdi zmdi-email"></i>
                                <input type="email" placeholder="پست الکترونیکی  " id="Email" name="Email" value="">
                            </div>
                            <button> عضویت در خبرنامه </button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
