{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}


<html class="no-js" dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عنوان مقاله</title>
    <link rel="stylesheet" href="{% static 'Site/css/course-archive.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/article.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/course.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body>


    <div class="container">


        <!-- breadcrumb -->
        <div class="breadcrumb">
            <ul>
                <li><a href="/"><span> منتور </span></a></li>
                <li><a href="/blog"><span> مقالات </span></a></li>
                <li><a href="#" class="current"><span> {{ blog.headline }} </span></a></li>
            </ul>
        </div>
        <!-- /breadcrumb -->
        <header class="intro">
            <h1> {{ blog.headline }} </h1>
        </header>

        <div class="clearfix"></div>

        <!-- main body -->
        <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <div class="article-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header-article">
                    <img class="head-image" src="{{ blog.title_image.url }}" alt="{% static 'Site/images/1 (2).jpg' %}">
                    <div class="overlay-avatar">
                        <img src="{{ blog.authors.all.0.profile.image.url }}" alt="{% static 'Site/images/avatar-366.png' %}">

                        <span class="view-artcile"> <i class="fas fa-eye"></i> # </span>
                        <span> <i class="fas fas fa-calendar"></i> {{ blog.pub_date.date }} </span>
                        <span> <i class="fas fa-user"></i> <a href="#"></a>{{ blog.authors.all.0 }} </span>
                    </div>
                </div>



                <div>
                    <h2>{{ blog.headline }}</h2>
                    {{ blog.body_text|safe }}

                </div>
            </div>

           <!-- tags -->
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-tag">
            <h3><i class="fas fa-tag"></i>برچسب ها :</h3>
            <a href="#">{{ blog.category.all.0 }}</a>
        </div>

            <!-- comment box -->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-comment">
                <h2><i class="fas fa-comments"></i>{{ blog.comments.count }} نظر</h2>
                <!-- col -->
                {% for comment in blog.comments.all %}
                <div class="comment-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="{{ comment.user.all.0.profile.image.url }}" alt="acount">
                    <div class="user-comment">
                        <div>
                            <a href="#"></a> <span> {{ comment.user.all.0 }} </span>
                            <a>{{ comment.pub_date.time }} - {{ comment.pub_date.date }}</a>
<!--                            <button class="button-st green">ثبت پاسخ</button>-->
<!--                            <button class="button-st yellow">گزارش</button>-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-text">
                                {{ comment.body_text|safe }}
                            </div>
                        </div>
                    </div>
<!--                    <div class="reply-comment">-->
<!--                        <div>-->
<!--                            <img src="Site/images/img_avatar1.png" alt="">-->
<!--                            <a href="#"></a> <span> | </span>-->
<!--                            <a> ارسال در شنبه 1400/03/01</a>-->

<!--                            <button class="button-st yellow">گزارش</button>-->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-text">-->
<!--                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک-->
<!--                                است.-->
<!--                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک-->
<!--                                است.-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
                </div>
                {% endfor %}
                <!-- /col -->


                <div class="leave-comment col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if not user.is_authenticated %}
                    <div class="register-first">
                        <p class="alert-question col-lg-12 col-md-12 col-sm-12 col-xs-12">برای ارسال سوال ابتدا <a
                            href="/login"> وارد </a> حساب کاربری خود شوید و یا در سایت <a href="/register">ثبت
                            نام</a> کنید</p>
                    </div>
                    {% else %}
                    <label for="cm-ms">پیام</label>
                    <form method="post" action="{% url 'add-comment' blog.pk%}">
                        {% csrf_token %}
                        {{form.media}}
                        {{form.body_text}}

                        <button type="submit" class="button-st purple"> ارسال</button>
                    </form>
                    {% endif %}
                </div>

            </div>


        </section>


        <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12"> 

<!--            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                <div class="aside-filter">-->
<!--                    <h2>دسته بندی دوره های آموزشی</h2>-->

<!--                    <div class="aside-categories">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <span for="cat-0" class="aside-title"> همه دسته بندی ها </span>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <span for="cat-1" class="aside-title">-->
<!--                                    برنامه نویسی موبایل </span>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <span for="cat-9">-->
<!--                                            زامارین ( Xamarin )-->
<!--                                        </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-35"> Kotlin </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-38"> Ionic </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-40"> Android </span>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-2" class="aside-title">-->
<!--                                    برنامه نویسی وب </span>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <span for="cat-6"> ASP.NET-->
<!--                                            WebForms-->
<!--                                        </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-7"> ASP.NET MVC </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-11"> PHP </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-22"> Asp.Net Core </span>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-3" class="aside-title">-->
<!--                                    طراحی-->
<!--                                    سایت </span>-->
<!--                                <ul>-->
<!--                                    <li>-->

<!--                                        <span for="cat-10"> Angular </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-16"> BootStrap </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-21"> طراحی سایت </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-24"> React </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-25"> Jquery </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-26"> JavaScript </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-28"> VueJs </span>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <span for="cat-5" class="aside-title">-->
<!--                                    تحت-->
<!--                                    ویندوز </span>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <span for="cat-8"> CSharp </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-20"> Unity </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-23"> NodeJs </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-27"> Python </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-30"> Java </span>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-14" class="aside-title"> سئو </span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-17" class="aside-title">-->
<!--                                    سیستم-->
<!--                                    عامل </span>-->
<!--                                <ul>-->
<!--                                    <li>-->

<!--                                        <span for="cat-15"> مدیریت پروژه </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-18"> Linux </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-45"> اینترنت </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-55"> Docker </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-61"> ساخت ستاپ </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-69">-->
<!--                                            برنامه های کاربردی-->
<!--                                        </span>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-46" class="aside-title"> امنیت-->
<!--                                </span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span for="cat-57" class="aside-title"> گرافیک-->
<!--                                </span>-->
<!--                                <ul>-->
<!--                                    <li>-->

<!--                                        <span for="cat-58"> Photoshop </span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span for="cat-59"> گرافیک </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-62"> Premiere </span>-->
<!--                                    </li>-->
<!--                                    <li>-->

<!--                                        <span for="cat-63"> موشن گرافیک </span>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </li>-->

<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </section>




    </div>



    <script>ClassicEditor
            .create(document.querySelector('.editor'), {

                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'link',
                        '|',
                        'outdent',
                        'indent',
                        '|',
                        'imageUpload',
                        'undo',
                        'redo'
                    ]
                },
                language: 'fa',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',


            })
            .then(editor => {
                window.editor = editor;








            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: d79o3t3u039i-5ovvpxebq8d4');
                console.error(error);
            });
    </script>

</body>

</html>

{% endblock %}