{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}


<html class="no-js" dir="rtl" lang="fa-IR">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>مقالات</title>
        <link rel="stylesheet" href="{% static 'Site/css/course-archive.css' %}">
        <link rel="stylesheet" href="{% static 'Site/css/blog.css' %}">
</head>

<body>
    <!-- main content page -->
    <div class="course-archive-page">
        <div class="container">

            <section class="course-archive-content">
                <!-- breadcrumb -->
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html"><span> منتور </span></a></li>
                        <li><a href="#" class="current"><span> مقالات </span></a></li>
                    </ul>
                </div>
                <!-- /breadcrumb -->
                <header>
                    <h1> مقالات منتور </h1> <span> {{ page_obj.count }} </span>
                </header>

                <div class="clearfix"></div>
                <!-- start filter box -->
                <form action="#" class="form-box col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="search-form col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="Search" value="{{ request.GET.q }}" placeholder="عنوان مورد نظر ...">
                        <button><i class="zmdi zmdi-search"></i></button>
                    </div>
                    <div class="order-layer col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <div class="select-layer">
<!--                            <select>-->
<!--                                <option selected> مرتب سازی بر اساس عنوان </option>-->
<!--                                <option> مرتب سازی بر اساس تاریخ انتشار </option>-->
<!--                                <option> مرتب سازی بر اساس محبوبیت </option>-->
<!--                            </select>-->

                        </div>

                    </div>

                </form>
                <!-- /end filter box -->

                <!-- col -->
                <section>
                    {% for post in page_obj reversed %}

                    <div class="article-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="article-inner">
                            <img src="{{ post.title_image.url }}">
                            <a href="{% url 'blog-page' post.pk %}">
                            <h2>{{ post.headline }}</h2>
                                </a>
                            <p>{{ post.body_text|safe }}</p>
                            <a href="#"><i class="fas fa-user"></i> {{ post.authors.all.0 }} </a>
                            <span> <i class="fas fa-comment-alt"></i> {{ post.comments.count }} </span>
                            <span> <i class="fas fa-eye"></i> 10 </span>
                        </div>
                    </div>
                    {% endfor %}
                </section>
                <!-- /col -->
                


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paging">
                    <ul class="pagination">
                        <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                            {% endif %}
                                {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="page-item"><a class="page-link page-link-active" href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                            {% endif %}
                              </ul>
                      </ul>
                </div>



            </section>
        </div>

    </div>
</body>

</html>

{% endblock %}