{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
<style>
        #rcorners1 {
          border-radius: 20px;
          background: whitesmoke;
          padding: 20px;
        }
        div.polaroid {
          {#width: 1000px;#}
          padding-right: 30px;
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
    <section>

	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
                <div class="polaroid">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن مقالات</h2>
						{% for post in object_list reversed %}
						<div class="single-blog-post">
							<h3>{{ post.headline }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>{{ post.authors.all.0 }}</li>
									<li><i class="fa fa-clock-o"></i> {{ post.pub_date.time }}</li>
									<li><i class="fa fa-calendar"></i>{{ post.pub_date.date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
								<img src="images/blog/blog-one.jpg" alt="">
							</a>
							<p style="max-width: 600px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post.body_text }}</p>
							<a  class="btn btn-primary" href="{% url 'education-page' post.pk %}">ادامـه مطلب</a>
						</div>
                        {% endfor %}
						<div class="pagination-area">
							<ul class="pagination">
								<li><a href="" class="active">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div>
                </div><br><br>
				</div>

                <div class="col-sm-3">
                    <div class="polaroid">
					<div class="left-sidebar">
						<h2>تبلیغات</h2>
						<video width="200" height="300" autoplay muted>
                            <source src="">
                        </video>
                        <video width="200" height="300" autoplay muted>
                            <source src="">
                        </video>
                        <video width="200" height="300" autoplay muted>
                            <source src="">
                        </video>

					</div>
                    </div><br><br>
				</div>

			</div>
		</div>
	</section>
{% endblock %}

